#top-nav {
    margin-left: 200px;
}

#side-nav {
    box-shadow: 1em 0 1rem -1rem rgb(0 0 0 / 15%);
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 200px;
}

#profile-dropdown {
    right: 0;
    left: auto;
    min-width: auto;
}

#profile {
    max-width: 750px;
    margin: auto;
}

@media (min-width: 576px) {
    #side-nav {
        position: relative;
    }

    .navbar-expand-lg .offcanvas {
        visibility: visible!important;
        transform: none!important;
        position: relative!important;
    }
    
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}